<div class="network-metrics left">
  graphs here
</div>

<div class="wrapper">
  <div class="network-filters-container">
    <ul class="network-filters">
      <li class="dropdown-menu">
        <a class="label">Country</a>
        <div class="filter">
          <!--<a class="icon icon-arrow-down"></a>
          <ul>
            <li><a>Japan</a></li>
            <li><a>Philippines</a></li>
          </ul>
        </div>
        -->
        <%= select_tag 'person', options_from_collection_for_select(Country.all, 'code', 'name') %> 
      </li>
      <li class="dropdown-menu">
        <a class="label">Country</a>
        <div class="filter">
          <a class="icon icon-arrow-down"></a>
          <ul>
            <li><a>Japan</a></li>
            <li><a>Philippines</a></li>
          </ul>
        </div>
      </li>
      <li class="dropdown-menu">
        <a class="label">Country</a>
        <div class="filter">
          <a class="icon icon-arrow-down"></a>
          <ul>
            <li><a>Japan</a></li>
            <li><a>Philippines</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="network-table-container">
    <table class="network-table">
      <thead>
        <tr>
          <th>Test</th>
          <th>Test</th>
          <th>Test</th>
          <th>Test</th>
          <th>Test</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Test</td>
          <td>Test</td>
          <td>Test</td>
          <td>Test</td>
          <td>Test</td>
        </tr>
        <tr class="even">
          <td>Test</td>
          <td>Test</td>
          <td>Test</td>
          <td>Test</td>
          <td>Test</td>
        </tr>
        <tr>
          <td>Test</td>
          <td>Test</td>
          <td>Test</td>
          <td>Test</td>
          <td>Test</td>
        </tr>
        <tr class="even">
          <td>Test</td>
          <td>Test</td>
          <td>Test</td>
          <td>Test</td>
          <td>Test</td>
        </tr>
        <tr>
          <td>Test</td>
          <td>Test</td>
          <td>Test</td>
          <td>Test</td>
          <td>Test</td>
        </tr>
        <tr class="even">
          <td>Test</td>
          <td>Test</td>
          <td>Test</td>
          <td>Test</td>
          <td>Test</td>
        </tr>
        <tr>
          <td>Test</td>
          <td>Test</td>
          <td>Test</td>
          <td>Test</td>
          <td>Test</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>