<div class="left">
  graphs here
</div>

<div class="right">
  <div class="network-filters-container">
    <ul class="network-filters">
      <li>
        filter1
      </li>
      <li>
        filter2
      </li>
      <li>
        filter3
      </li>
    </ul>
  </div>
  <div class="network-table-container">
    <table>
      <thead>
        thead here
      </thead>
      <tbody>
        tbody here
      </tbody>
    </table>
  </div>
</div>