<header>
  <div class="logo left">PINE</div>
  <div class="login-container right">
    <form class="login-form">
      <table>
        <tbody>
          <tr>
            <td><label for="username">Email</label></td>
            <td><label for="password">Password</label></td>
          </tr>
          <tr>
            <td><input type="text" name="username" id="username"></td>
            <td><input type="text" name="password" id="password"></td>
            <td><button class="btn">Login</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</header>

<div class="main">
  <div class="intro left">
    <h1>Philippine International Network of Experts</h1>
    <ul>
      <li>
        <h2>
          <span class="icon"></span>
          <span class="title">Provide Career Opportunities</span>
        </h2>
      </li>
      <li>
        <h2>
          <span class="icon"></span>
          <span class="title">Filipino Experts Network</span>
        </h2>
      </li>
      <li>
        <h2>
          <span class="icon"></span>
          <span class="title">Brain-charge the Philippines</span>
        </h2>
      </li>
    </ul>
  </div>
  
  <div class="signup-container right">
    <h1>Register</h1>
    <form class="signup-form">
      <div>
        <label for="lastname">Last name</label>
        <input type="text" name="lastname" id="lastname">
      </div>
      <div>
        <label for="firstname">First name</label>
        <input type="text" name="firstname" id="firstname" >
      </div>
      <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" >
      </div>
      <div>
        <label for="password">Password</label>
        <input type="text" name="password" id="password" >
      </div>
      <div>
        <label>
          <input type="radio" value="Yes">
          <span>Professional</span>
        </label>
        <label>
          <input type="radio" value="No">
          <span>Student</span>
        </label>
      </div>
      <div>
        <label for="country">Country</label>
        <div class="select">
          <select id="country" name="country">
            <option>Japan</option>
            <option>Philippines</option>
          </select>
        </div>
      </div>
      <div>
        <button class="btn">Register</button>
      </div>
      <div>
        By clicking on the 'Register' button you agree to our <a>Terms of Service</a> & <a>Privacy Policy</a>.
      </div>
    </form>
  </div>
</div>