<div class="main">
  <div class="signup-container right">
    <h3>Sign in</h3>
    <form class="signup-form">
      <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
      </div>
      <div>
        <label for="fpassword">Password</label>
        <input type="text" name="password" id="password" >
      </div>
      <div>
        <button class="btn">Sign in</button>
      </div>
      <div>
        <%= link_to "Sign up", new_user_registration_path %><br />
        <%= link_to "Forgot your password?", new_user_password_path %><br />
      </div>
    </form>
  </div>
  
  <div class="intro ">
    <h1>PINE</h1>
    <h2>Philippine International Network of Experts</h2>
    <ul>
      <li>
        <h3>
          <span class="icon icon-domain"></span>
          <span class="title">Provide Career Opportunities</span>
        </h3>
      </li>
      <li>
        <h3>
          <span class="icon icon-people"></span>
          <span class="title">Filipino Experts Network</span>
        </h3>
      </li>
      <li>
        <h3>
          <span class="icon icon-school"></span>
          <span class="title">Brain-charge the Philippines</span>
        </h3>
      </li>
    </ul>
  </div>
</div>