<div class="top">
  <div class="logo">PINE</div>
  <div class="login-container">
    <form class="login-form">
      <table>
        <tbody>
          <tr>
            <td><label for="username">Email</label></td>
            <td><label for="password">Password</label></td>
          </tr>
          <tr>
            <td><input type="text" name="username" id="username"></td>
            <td><input type="text" name="password" id="password"></td>
            <td><button class="btn">Login</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>

<div class="main">
  <div class="left">
    <h1>Philippine International Network of Experts</h1>
    <ul>
      <li>
        <h2>
          <span class="icon"></span>
          <span class="title">Provide Career Opportunities</span>
        </h2>
      </li>
      <li>
        <h2>
          <span class="icon"></span>
          <span class="title">Filipino Experts Network</span>
        </h2>
      </li>
      <li>
        <h2>
          <span class="icon"></span>
          <span class="title">Brain-charge the Philippines</span>
        </h2>
      </li>
    </ul>
  </div>
  
  <div class="right">
    <h1>Register</h1>
    <form class="signup-form">
      <div>
        <label for="lastname">Last name</label>
        <input type="text" name="lastname" id="lastname">
      </div>
      <div>
        <label for="firstname">First name</label>
        <input type="text" name="firstname" id="firstname" >
      </div>
      <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" >
      </div>
      <div>
        <label for="email2">Re-enter email</label>
        <input type="text" name="email2" id="email2" >
      </div>
      <div>
        <label for="password">New password</label>
        <input type="text" name="password" id="password" >
      </div>
      <div>
        <label for="password2">Re-enter password</label>
        <input type="text" name="password2" id="password2" >
      </div>
      <div>
        <button class="btn">Register</button>
      </div>
      <div>
        By clicking on the 'Register' button you agree to our <a>Terms of Service</a> & <a>Privacy Policy</a>.
      </div>
    </form>
  </div>
</div>
