* {
  @include css3(box-sizing, border-box);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  color: #333;
  font-family: "Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:after {
	clear: both;
	display: block;
	content: " ";
	height: 0px;
	visibility: hidden;
}

header {
  background: white;
  padding: 10px;
  @include css3(box-shadow, 0 0 2px rgba(6,4,8,0.15));
}

footer {
  background: black;
  color: white;
  bottom: 0;
  width: 100%;
  padding: 10px;
  position: fixed;
}
